.config {
    margin: 10px auto;
    padding: 10px;

    width: 8.5in;

    background: #fff;
}

.config-note {
    border: 1px solid #333;
    border-radius: 2px;
    padding: 5px;
    
    font-style: italic;
}