<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="./luxon.min.js"></script>
    <script type="module" src="./modules/luxon.shim.js"></script>
    <script type="module" src="./modules/main.js"></script>
    <link rel="stylesheet" href="./style/modern-normalize.css">
    <link rel="stylesheet" href="./style/utility.css">
    <link rel="stylesheet" href="./style/config.css">
    <link rel="stylesheet" href="./style/main.css">
</head>
<body>
    <main>
        <div id="vue-app" class="config screen-only">
            <!-- start date -->
            <label for="cfg-start-year">Start Year</label>
            <input id="cfg-start-year" type="number" v-model="startYear">

            <label for="cfg-start-year">Start Month</label>
            <input id="cfg-start-year" type="number" min="1" max="12" v-model="startMonth">

            <!-- end date -->
            <!-- locale -->
            <!-- holidays -->

            <label for="cfg-dow">First day of the week:</label>
            <select id="cfg-dow" v-model="dowStart">
                <option value="0">Sunday</option>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
            </select>

            <label for="cfg-locale">Locale:</label>
            <input type="text" v-model="locale">
            <!-- <select id="cfg-locale" v-model="locale">
                <option v-for="i in locales" :value="i.value">{{i.name}}</option>
            </select> -->

            <font-config label="Page Heading Font" style-var="page-header" v-model="styleVars['page-header']"></font-config>

            <font-config label="Days Of the Week Font" style-var="calendar-header" v-model="styleVars['calendar-header']"></font-config>

            <font-config label="Cell Number Font" style-var="calendar" v-model="styleVars['calendar']"></font-config>

            <p class="config-note">Note: This calendar does not split cells. 
                Months with 30 or 31 days that begin on the 5th, 6th, or 7th day of the week
                will have their final days shown in gray on the next month.
            </p>
        </div>

        <div id="target">
        </div>
    </main>

    <script type="module">
        import { main, dowSlice } from './modules/main.js';

        main();

        window.dowSlice = dowSlice;
    </script>
</body>
</html>